[Desktop Entry]
Encoding=UTF-8
Icon=smpppdcs
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_smpppdcs
X-KDE-FactoryName=kcm_kopete_smpppdcs
X-KDE-ParentApp=kopete_smpppdcs
X-KDE-ParentComponents=kopete_smpppdcs

X-Kopete-Version=1000900

Name=SUSE SMPPPD Connection Status
Name[bg]=Състояние на връзката SUSE SMPPPD
Name[de]=SUSE SMPPPD-Verbindungsstatus
Name[es]=Estado de la conexión SMPPPD de SUSE
Name[et]=SUSE SMPPPD ühenduse olek
Name[it]=Stato della connessione SMPPPD di SuSE
Name[nl]=SUSE SMPPPD-verbindingsstatus
Name[pt]=Estado da Ligação do SMPPPD para a SUSE
Name[sv]=SUSE SMPPPD anslutningsstatus
Comment=SMPPPDCS Plugin
Comment[bg]=Приставка SMPPPDCS
Comment[de]=SMPPPDCS-Modul
Comment[es]=Extensión SMPPPDCS
Comment[et]=SMPPPDCS plugin
Comment[it]=Plugin SMPPPDCS
Comment[nl]=SMPPPDCS-plugin
Comment[pt]='Plugin' do SMPPPDCS
Comment[sv]=SMPPPDCS-insticksprogram
