[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=smpppdcs
X-Kopete-Version=1000900
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_smpppdcs
X-KDE-PluginInfo-Author=Heiko Schäfer
X-KDE-PluginInfo-Email=heiko@rangun.de
X-KDE-PluginInfo-Name=kopete_smpppdcs
X-KDE-PluginInfo-Version=0.72
X-KDE-PluginInfo-Website=http://www.rangun.de
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=SUSE smpppd-enabled Connection Status (SMPPPD)
Name[de]=SUSE smpppd-aktivierter Verbindungsstatus (SMPPPD)
Name[el]=Κατάσταση σύνδεσης SUSE smpppd (SMPPPD)
Name[en_GB]=SUSE smpppd-enabled Connection Status (SMPPPD)
Name[es]=Estado de la conexión smpppd habilitada de SUSE (SMPPPD)
Name[et]=SUSE smpppd toega ühenduse olek (SMPPPD)
Name[fr]=État de connexion Suse « smpppd-enabled » (SMPPPD)
Name[ga]=Stádas Ceangail SUSE cumasaithe do smpppd (SMPPPD)
Name[gl]=Estado da conexión con smpppd de Suse (SMPPPD)
Name[it]=Stato della connessione smpppd di SuSE abilitato (SMPPPD)
Name[km]=ស្ថានភាព​តភ្ជាប់​ដែល​អនុញ្ញាត​ដោយ​ SUSE smpppd (SMPPPD)
Name[lt]=SUSE smpppd ryšio būklė (SMPPPD)
Name[nb]=SUSE tilkoblingsstatus med smpppd (SMPPPD)
Name[nds]="SUSE smpppd-enabled"-Tokoppelstatus (SMPPPD)
Name[nl]=SUSE smppd-gebaseerde verbindingsstatus
Name[pt]=Estado da Ligação activo por smpppd da SUSE (SMPPPD)
Name[pt_BR]=Status de Conexão Ativa por smpppd do SUSE (SMPPPD)
Name[sv]=SUSE SMPPPD-aktiverad anslutningsstatus (SMPPPD)
Name[tr]=SUSE smpppd-etkinleştirilmiş  Bağlantı Durumu (SMPPPD)
Name[uk]=SUSE smpppd-уможливлений Стан з'єднання (SMPPPD)
Name[x-test]=xxSUSE smpppd-enabled Connection Status (SMPPPD)xx
Comment=Connects/disconnects Kopete automatically depending on availability of Internet connection
Comment[de]=Verbindet oder trennt Kopete automatisch, abhängig davon ob eine Internetverbindung vorhanden ist
Comment[el]=Αυτόματη σύνδεση/αποσύνδεση του Kopete ανάλογα με τη διαθεσιμότητα της σύνδεσης με το διαδίκτυο
Comment[en_GB]=Connects/disconnects Kopete automatically depending on availability of Internet connection
Comment[es]=Conecta/desconecta Kopete automáticamente dependiendo de la disponibilidad de la conexión a Internet
Comment[et]=Ühendab ja lahutab Kopete automaatselt vastavalt internetiühenduse olemasolule
Comment[fr]=Connecte / Déconnecte automatiquement Kopete en fonction de la disponibilité du réseau
Comment[ga]=Ceangail/dícheangail Kopete go huathoibríoch, ag brath ar cé acu an bhfuil ceangal Idirlíon ar fáil nó nach bhfuil
Comment[gl]=Conecta/Desconecta automaticamente a Kopete en función da dispoñibilidade de conexión a internet
Comment[hi]=इंटरनेट कनेक्शन की उपलब्धता की निर्भरता के आधार पर के-ऑप्टी को स्वचलित कनेक्ट/डिस्कनेक्ट करता है
Comment[hne]=इंटरनेट कनेक्सन के मिलत के निर्भरता के आधार मं के-ओप्टी ल अपने अपन कनेक्ट/डिस्कनेक्ट करथे 
Comment[it]=Connette/disconnette Kopete automaticamente a seconda della disponibilità della connessione internet
Comment[km]=តភ្ជាប់/ផ្ដាច់ Kopete ដោយ​ស្វ័យ​ប្រវត្តិ អាស្រ័យ​លើ​ការ​តភ្ជាប់​អ៊ីនធឺណិត​ដែល​មាន
Comment[lt]=Automatiškai prijungia/atjungia Kopete, priklausomai nuo interneto ryšio buvimo
Comment[nb]=Kobler til/fra Kopete automatisk avhengig av om Internet-forbindelse er tilgjengelig
Comment[nds]=Kopete je na Internetverföögborkeit automaatsch to-/afkoppeln
Comment[nl]=Laat Kopete automatisch verbinding maken of verbreken, afhankelijk van de beschikbaarheid van een internetverbinding
Comment[pt]=Liga/desliga o Kopete automaticamente, dependendo da disponibilidade de uma ligação à Internet
Comment[pt_BR]=Conecta/disconecta o Kopete automaticamente dependendo da disponibilidade da conexão à Internet
Comment[ro]=Conectează/deconectează automat Kopete în dependență de disponibilitatea conexiunii la Internet
Comment[sv]=Ansluter eller kopplar ner Kopete automatiskt beroende på Internetförbindelsens tillgänglighet
Comment[th]=เชื่อมต่อหรือยกเลิกการเชื่อมต่อ Kopete โดยอัตโนมัติ เมื่อไม่สามารถเชื่อมต่ออินเทอร์เน็ตได้
Comment[tr]=Şunun kullanılabilir olup olmadığına göre Kopete uygulamasının bağlantısını açar / kapatır
Comment[uk]=Автоматично входить в мережу чи виходить з неї в залежності від наявності з'єднання з Інтернетом
Comment[x-test]=xxConnects/disconnects Kopete automatically depending on availability of Internet connectionxx
