[Desktop Entry]
Encoding=UTF-8
Icon=smpppdcs
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_smpppdcs
X-KDE-FactoryName=kcm_kopete_smpppdcs
X-KDE-ParentApp=kopete_smpppdcs
X-KDE-ParentComponents=kopete_smpppdcs

X-Kopete-Version=1000900

Name=SUSE SMPPPD Connection Status
Name[el]=Κατάσταση σύνδεσης SUSE SMPPPD
Name[es]=Estado de la conexión SMPPPD de SUSE
Name[et]=SUSE SMPPPD ühenduse olek
Name[fr]=État de connexion Suse SMPPPD
Name[ga]=Stádas Ceangail SMPPPD SUSE
Name[gl]=Estado da conexón SMPPPD para SUSE
Name[km]=ស្ថានភាព​តភ្ជាប់ SUSE SMPPPD
Name[lt]=SUSE SMPPPD ryšio būklė
Name[nl]=SUSE SMPPPD Verbindingsstatus
Name[pt]=Estado da Ligação por SMPPPD da SUSE
Name[pt_BR]=Status da Conexão SMPPPD do SUSE
Name[sv]=SUSE SMPPPD anslutningsstatus
Name[tr]=SUSE SMPPPD Bağlantı Durumu
Name[uk]=Стан з'єднання SUSE SMPPPD
Name[x-test]=xxSUSE SMPPPD Connection Statusxx
Comment=SMPPPDCS Plugin
Comment[el]=Πρόσθετο SMPPPDCS
Comment[es]=Complemento de SMPPPDCS
Comment[et]=SMPPPDCS plugin
Comment[fr]=Module SMPPPDCS
Comment[ga]=Breiseán SMPPPDCS
Comment[gl]=Extensión SMPPPDCS
Comment[km]=កម្មវិធី​ជំនួយ SMPPPDCS
Comment[lt]=SMPPPDCS įskiepis
Comment[nds]=SMPPPDCS-Moduul
Comment[nl]=SMPPPDCS-plugin
Comment[pt]='Plugin' do SMPPPDCS
Comment[pt_BR]=Plugin SMPPPDCS
Comment[sv]=SMPPPDCS-insticksprogram
Comment[tr]=SMPPPDCS Eklentisi
Comment[uk]=Втулка SMPPPDCS
Comment[x-test]=xxSMPPPDCS Pluginxx
