[Desktop Entry]
Encoding=UTF-8
Icon=smpppdcs
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_smpppdcs
X-KDE-FactoryName=kcm_kopete_smpppdcs
X-KDE-ParentApp=kopete_smpppdcs
X-KDE-ParentComponents=kopete_smpppdcs

X-Kopete-Version=1000900

Name=SUSE SMPPPD Connection Status
Name[pt]=Estado da Ligação do SMPPPD para a SUSE
Name[sv]=SUSE SMPPPD anslutningsstatus
Comment=SMPPPDCS Plugin
Comment[pt]='Plugin' do SMPPPDCS
Comment[sv]=SMPPPDCS-insticksprogram
