[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=smpppdcs
X-Kopete-Version=1000900
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_smpppdcs
X-KDE-PluginInfo-Author=Heiko Schäfer
X-KDE-PluginInfo-Email=heiko@rangun.de
X-KDE-PluginInfo-Name=kopete_smpppdcs
X-KDE-PluginInfo-Version=0.72
X-KDE-PluginInfo-Website=http://www.rangun.de
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=SUSE smpppd-enabled Connection Status (SMPPPD)
Name[es]=Activado del estado de la conexión smppd de SUSE (SMPPPD)
Name[it]=Stato della connessione smpppd di SuSE abilitato (SMPPPD)
Name[nl]=SUSE smpppd-geactiveerde verbindingsstatus (SMPPPD)
Name[pt]=Estado da Ligação activado pelo 'smpppd' da SUSE (SMPPPD)
Name[sv]=SUSE SMPPPD-aktiverad anslutningsstatus (SMPPPD)
Comment=Connects/disconnects Kopete automatically depending on availability of Internet connection
Comment[es]=Conecta/desconecta Kopete automáticamente dependiendo de la disponibilidad de la conexión a Internet
Comment[it]=Connette/disconnette Kopete automaticamente a seconda della disponibilità della connessione internet
Comment[nl]=Bouwt automatisch verbindingen op voor Kopete of verbreekt ze, afhankelijk van de beschikbaarheid van de internetverbinding
Comment[pt]=Liga/desliga o Kopete automaticamente, dependendo da disponibilidade de uma ligação à Internet
Comment[sv]=Ansluter eller kopplar ner Kopete automatiskt beroende på Internetförbindelsens tillgänglighet
