[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=smpppdcs
X-Kopete-Version=1000900
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_smpppdcs
X-KDE-PluginInfo-Author=Heiko Schäfer
X-KDE-PluginInfo-Email=heiko@rangun.de
X-KDE-PluginInfo-Name=kopete_smpppdcs
X-KDE-PluginInfo-Version=0.72
X-KDE-PluginInfo-Website=http://www.rangun.de
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=SUSE smpppd-enabled Connection Status (SMPPPD)
Name[cs]=Stav spojení SUSE smpppd-povoleno (SMPPPD)
Name[nl]=Met smpppd ingeschakelde verbindingsstatus (SMPPPD) van SUSE
Name[pt]=Estado da Ligação com Suporte para o 'smpppd' da SUSE (SMPPPD)
Name[pt_BR]=Status de conexão ativa por smpppd do SUSE (SMPPPD)
Name[sk]=Stav pripojenia SUSE smpppd-enabled (SMPPPD)
Name[sv]=SUSE SMPPPD-aktiverad anslutningsstatus (SMPPPD)
Name[tr]=SUSE smpppd-enabled Bağlantı Durumu (SMPPPD)
Name[uk]=Стан з’єднання з можливостями smpppd SUSE (SMPPPD)
Name[x-test]=xxSUSE smpppd-enabled Connection Status (SMPPPD)xx
Comment=Connects/disconnects Kopete automatically depending on availability of Internet connection
Comment[cs]=Automaticky připojuje/odpojuje Kopete v závislosti na dostupnosti internetového připojení
Comment[nl]=Verbindt/verbreekt automatisch verbinding van Kopete afhankelijk van beschikbaarheid van de internetverbinding
Comment[pt]=Liga/desliga o Kopete automaticamente, dependendo da disponibilidade de uma ligação à Internet
Comment[pt_BR]=Conecta/desconecta o Kopete automaticamente dependendo da disponibilidade da conexão à Internet
Comment[sk]=Pripojí/odpojí Kopete automaticky v závislosti na dostupnosti internetového pripojenia
Comment[sv]=Ansluter eller kopplar ner Kopete automatiskt beroende på Internetförbindelsens tillgänglighet
Comment[tr]=İnternet bağlantısının kullanılabilirliğine bağlı olarak Kopete'yi otomatik olarak bağlar/bağlantısını keser
Comment[uk]=Встановлює і розриває з’єднання з Kopete у автоматичному режимі, залежно від доступності інтернет-з’єднання
Comment[x-test]=xxConnects/disconnects Kopete automatically depending on availability of Internet connectionxx
